body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    background-color: #EADEDB;
    min-height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 5px #ff6666;
}
input[type="text"]{
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 84%;
    padding: 10px;
    border: none;
   border-bottom: 1px solid #ccc; 
   outline: none;
}
button{
    padding: 10px 20px;
    background-color: rgb(37, 37, 180);
    border: none;
    border-radius: 5px ;
    color: #ccc;
    font-weight: 500;
    cursor: pointer;
display: flex;
/* margin-left: 45%; */
}

ul{
    list-style: none;
    padding: 0;
}

li{
   margin: 10px 0;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.delete-btn{
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px ;
    padding: 5px 10px;
    cursor: pointer;
}
#add-btn{
    background-color: #008CBA; 
    color: rgba(245, 243, 243, 0.888); 
    border: 2px solid #008CBA;
     font-weight: 500;
     
}
    
#add-btn:hover{
    background-color: #008CBA;
  color: white;
}

